:root {
  --primary: #22c55e;
  --accent: #ef4444;
  --bg: #0f172a;
  --card: #1e293b;
  --text: #e2e8f0;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.nav-links a {
  margin-left: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: var(--primary);
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: var(--accent);
  color: white;
}

/* SECTION */
.section {
  padding: 60px 40px;
}

.section h2 {
  margin-bottom: 20px;
  color: var(--primary);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  border: 1px solid var(--primary);
}

/* INPUTS */
input, textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

/* ANIMATION */
.fade {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
